# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

/var/log/mariadb/* {
    su mysql mysql
    create 660 mysql mysql
    daily
    maxsize 100M
    rotate {{ mariadb_log_deletion }}
    dateext
    dateformat .%Y-%m-%d-%H-%M-%S
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    olddir archive/
    createolddir 770 mysql mysql
    postrotate
        if test -x /usr/bin/mysqladmin && /usr/bin/mysqladmin ping &>/dev/null
        then
           /usr/bin/mysqladmin --local flush-error-log flush-engine-log flush-general-log flush-slow-log
        fi
    endscript
}
